body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #132373;
    line-height: 1.6;
}
.content{
    text-align: center;
}


.container {
    width: 80%;
    margin: auto;
    padding: 10px;
   text-align: center;
}


header {
    background: #9c0b3b;
    color: #fff;
    padding: 10px 0;
    
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo {
    color: #fff;
    text-decoration:rgb(128, 0, 87);
    font-size: 24px;
    text-align: left;
}

.nav-links {
    list-style: lower-greek;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.heding{
    background: #007bff;
    color: #fff;
    padding: 60px 0;
    text-align: center;
    
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
